<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handmade Gallery Example</title>
    <style>
        h1 {
            text-align: center;
        }
        img {
            width: 50%;
            display: inline-block;
        }
        #gallery-container {
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="gallery-container">
        <h1>Gallery Template</h1>
        <p>All these images come from <a href="https://www.oldbookart.com/">oldbookart.com</a></p>
        <img src="images/A-Scene-on-Forked-Lake.jpg" alt="a drawing of a lake and some mountains, some deer are in the foreground"> <!-- each of these images is stored in a folder called images thats in the same folder as the html document. They are currently in single column, but can also be arranged differently. These images could be exchanged for videos or gifs -->
        <img src="images/Adirondack-Pass.jpg" alt="a drawing of a cliff and forest beneath it">
        <img src="images/Lake-Colden.jpg" alt="a drawing of a lake with mountainess forest on either side">
        <img src="images/Lake-Henderson.jpg" alt="a drawing of a lake with people camping in the foreground and mountains in the background">
        <img src="images/Lake-Sanford.jpg" alt="a drawing of a view high up over a lake and the mountains surrounding it">
        <img src="images/Lake-Schroon.jpg" alt="a drawing from a ridge with a tree on it and in the distance there is a lake, river and mountain">
        <img src="images/The-Adirondack.jpg" alt="a drawing of a mountain range and forest beneath">
        <img src="images/View-on-Raquette-Lake.jpg" alt="a drawing of a lake with some people in a canoe with mountains in the background">
    </div>
</body>
</html>